@model DormCare.Models.Room
@{
    ViewData["Title"] = "Create Room";
}

<h2>Create Room</h2>
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Number" class="form-label"></label>
        <input asp-for="Number" class="form-control" />
        <span asp-validation-for="Number" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Capacity" class="form-label"></label>
        <input asp-for="Capacity" class="form-control" type="number" />
        <span asp-validation-for="Capacity" class="text-danger"></span>
    </div>
    <button class="btn btn-primary" type="submit">Create</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
